# eclipse
.classpath
.project
target/
.settings/
bin/


# nukkit
logs/
players/
plugins/
resource_packs/
worlds/
banned-ips.json
banned-players.json
nukkit.yml
ops.txt
server.properties
white-list.txt

test/