<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wanforme.cmcore.base.mapper.PlayerLoginLogMapper">

	<select id="selectByPlayerName"  resultType="PlayerLoginLog">
		select * from player_login_log where name=#{name} order by id desc 
		 limit #{start},#{count}
	</select>

	<select id="selectByUserName"  resultType="PlayerLoginLog">
		select * from player_login_log where userName=#{username} order by id desc 
		 limit #{start},#{count}
	</select>

</mapper>
